@import url(../../index.css);

.logo-login {
    width: min(30%, 200px);
    cursor: pointer;
}

.link-forgot-password {
    color: var(--mint);
    margin-bottom: 20px;

    transition: all 0s ease;
}

.link-forgot-password:hover {
    filter: brightness(0.85);
}

@media (max-width: 870px){
    .logo-login {
        width: 50%;
    }
}