<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
        </style>
    </head>
    <body>

        <h4>LaSegundaMano.com.mx</h4>

        <h1>¡Hola de nuevo!</h1>
        <p>Para ayudarte a recuperar tu contraseña, por favor usa el siguiente código:</p>

        <h2>%{codigo}%</h2>

        <p>Este código es válido por una hora. Si tienes alguna duda o necesitas asistencia, estamos aquí para ayudarte: <a href="mailto:contacto@lasegundamano.com.mx">contacto@lasegundamano.com.mx</a>.</p>
        <p>Gracias por formar parte de nuestra comunidad!</p>
        <p>Saludos cordiales,<br>El equipo de LaSegundaMano.com.mx</p>
        
    </body>
</html>