<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
        </style>
    </head>
    <body>

        <h4>LaSegundaMano.com.mx</h4>
        <h1>Hola %{nombre}%.</h1>
        <p>Tienes una nueva notificación de <b>LaSegundaMano.com.mx</b>:</p>

        <h2>%{titulo}%</h2>
        <p>%{contenido}%</p>
        <a href="https://lasegundamano.com.mx%{url}%">Ir a ver</a>

        <br>
        <p>Gracias y saludos,<br>El equipo de La Segunda Mano</p>
    </body>
</html>