<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
        </style>
    </head>
    <body>

        <h4>La Segunda Mano</h4>

        <h1>¡Bienvenido a La Segunda Mano!</h1>
        <p>Estamos emocionados de que te unas a nuestra comunidad. Para confirmar tu correo electrónico, por favor usa el siguiente código:</p>

        <h2>%{codigo}%</h2>

        <p>Este código es válido por una hora. Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos al correo: <a href="mailto:contacto@lasegundamano.com.mx">contacto@lasegundamano.com.mx</a>.</p>
        <p>¡Gracias por confiar en nosotros y felices compras!</p>
        <p>Saludos,<br>El equipo de La Segunda Mano</p>
        
    </body>
</html>