@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root{
    --blue: #2C3E50;
    --mint: #1ABC9C;
    --red: #FF5E58;
    --gray: #BDC3C7;
    --backgound: #ECF0F1;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;

    transition: all 0.3s ease;
    box-sizing: border-box;

}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--backgound);
}


/* Generics */
.none {
    display: none;
}

/* Swal */
.swal {
    font-family: "Lexend Deca", sans-serif;
}

.swal2-popup {
    border-radius: 10px !important; 
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}

::-webkit-scrollbar-track {
    background: var(--backgound);
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb {
    background: var(--mint);
    border-radius: 5px; 
}

.scroll-container {
    scrollbar-width: thin; 
    scrollbar-color: var(--mint) var(--backgound); 
    width: 5px; 
    height: 5px; 
    border-radius: 5px;
}
